@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #E0FFFF;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    height: 50%;
    width: 500px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    border-radius: 20px;
}
.list{
    display: inline;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}
.item{
    width: 25%;
    padding: 10px;
}
.item:hover {
    background-color: #8FBC8F;
    /* Remove padding change to avoid shaking */
    border-radius: 20px;
    transform: scale(1.05); /* Optional: Slightly scale the item for a nice effect */
}
h5{
    font-family: "Source Code Pro", monospace;
}
img{
    width: 50px;
    height: auto;
    margin: 10px;
    display: inline;
}
button{
    width: 30%;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.item {
    cursor: pointer;
    transition: transform 0.3s;
}

.item:hover {
    transform: scale(1.05); /* Scale up on hover */
}

.item.selected {
    background-color: #8FBC8F;
    /* Remove padding change to avoid shaking */
    border-radius: 20px;
    transform: scale(1.05); /* Optional: Slightly scale the item for a nice effect */
}


h4{
    font-size: 1.6rem;
}
span{
    font-size: 1.2rem;
    font-weight: 700;
}
p{
    font-size: 1.2rem;
    font-family: "Source Code Pro", monospace;
}